---
import PostPreview from 'src/components/PostPreview.astro'
import { getCollection } from "astro:content";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";

// read mdx files from posts folder
const posts = await getCollection('posts');

// sort posts by startDate DESC
posts.sort((a: any, b: any) => {
  return new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime();
});
---

<IndexPageLayout 
  title="Blog" 
  description="Thoughts, tutorials and insights about software development"
  subTitle="Articles & Insights">

  <div class="max-w-3xl mx-auto px-4">
    {
      posts.map((post) => (
        <PostPreview
          title={post.data.title}
          description={post.data.description}
          slug={post.slug}
          startDate={post.data.startDate}
          tags={post.data.tags}
        />
      ))
    }
  </div>

</IndexPageLayout>
