---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Twitter, FileDown} from 'lucide-react'
---

<div class="flex h-full w-full animate-appear flex-col md:flex-row gap-4">
  <div class="flex flex-col justify-between gap-4 flex-1">
    <div class="flex h-full flex-col">
      <p class="m-0 text-xl font-light">
        Hi, I'm
        <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <p class="mt-5">
        {PROFILE.description}
      </p>
    </div>
    <div class="flex gap-4">
      <a href={PROFILE.links.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Github/>
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      {
        PROFILE.links?.twitter && <a href={PROFILE.links.twitter} aria-label="twitter profile" target="_blank">
          <Button aria-label="twitter profile">
            <Twitter/>
            <span class="sr-only">Twitter profile</span>
          </Button>
        </a>
      }
      <a href={PROFILE.links.linkedin} aria-label="linkedin profile" target="_blank">
        <Button aria-label="linkedin profile">
          <Linkedin/>
          <span class="sr-only">LinkedIn Profile</span>
        </Button>
      </a>
      <a href="mailto:imjavieralonso@gmail.com" aria-label="email" target="_blank">
        <Button aria-label="email">
          <Mail/>
          <span class="sr-only">Send Email</span>
        </Button>
      </a>
      <a href="/assets/JavierAlonso_CV.pdf" download aria-label="download resume">
        <Button aria-label="download resume" variant="default" className="gap-2">
          <FileDown />
          <span>
            Download Resume
          </span>
        </Button>
      </a>
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none hidden md:block w-64 h-64 object-cover select-none rounded-lg"
    width="256"
    height="256"
    alt={`image of ${PROFILE.name}`}
  />
</div>
