---
import PostPreview from '../../../components/PostPreview.astro'
import { getCollection } from "astro:content";
import IndexPageLayout from "../../../layouts/IndexPageLayout.astro";
import { useTranslations } from "../../../i18n/utils";

const lang = 'es'
const t = useTranslations(lang)

const posts = await getCollection('posts');

posts.sort((a: any, b: any) => {
  return new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime();
});
---

<IndexPageLayout
  title={t('posts.pageTitle')}
  description={t('posts.description')}
  subTitle={t('posts.subTitle')}
  lang={lang}
>
  <div class="max-w-3xl mx-auto px-4">
    {
      posts.map((post) => (
        <PostPreview
          title={post.data.title}
          description={post.data.description}
          slug={post.slug}
          startDate={post.data.startDate}
          tags={post.data.tags}
          lang={lang}
        />
      ))
    }
  </div>
</IndexPageLayout>
